header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* Estilos del navegador */
nav {
	background-color: #f1f1f1;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

nav button {
	margin: 5px;
	padding: 8px 16px;
	font-size: 16px;
	border: none;
	background-color: #ddd;
	cursor: pointer;
}

nav button:hover {
	background-color: #9e9e9e;
	color: white;
}

/* Estilos del contenido */
.content {
	margin-top: 20px;
	padding: 20px;
	width: 90%;
	margin: 20px auto;
}


/*Alquiler y venta*/
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.image-container{
    border: solid 1px black;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.image-container img{
    width: 400px;
    height: 400px;
}